@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

body{
  background: url(psBlueSky-vincent-gerbouin.jpg) no-repeat center center fixed;
  background-size:cover;
  margin: 0;
  /* position: relative; */
}
.nav{
  position:relative;
  overflow: hidden;
  background-color: #908070;
  /* border: 1px solid blue; */
  /* font-size: 110%; */
}
#name{
  font-family: "Roboto Slab";
  float: left;
  font-size: 1.8em;
  padding: 0rem 0.5rem;
  /* border: 1px solid red; */
}
#coname {
  color: #F58F7C;
}
#lname{
  color: #99B3FF;
}
#menu{
  color: #033F63;
  padding-right: 0.7rem;
  float: right;
  font-size: 1em
  /* border: 1px solid yellow; */
}
#menu:hover{
  color: #E2EFDE;
}
.navbar{
  display: inline-flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  /* border: 1px solid green; */
}
.nav a{
  color: #707090;
  text-decoration: none;
  padding: 0.78rem 0.4rem;
  /* border: 1px solid pink; */
}
.nav a:hover{
  background-color: #709090;
  color: #E2EFDE;
}
.nav a.active{
  background-color: #707090;
  color: white;
}
#quine{
  position: fixed;
  display: flex;
  white-space: pre;
  font-size: 1em;
  /* color: black; */
  /* opacity: 20%; */
  width: 30%;
  /* background: linear-gradient(to right, rgba(255, 255, 0, 0.5);, rgba(255, 0, 0, 0.5);); */
  background: linear-gradient(90deg, black, transparent);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;



  /* border: 1px red solid; */
}
#Casa{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 60%;
  font-size: 200%;
  color: white;
  background-image: linear-gradient(to top right, #90c4db, #519cbb,#3e7594,#3b5e74);
  border: 5px pink solid;
}
#Casa p{
  display: inherit;
  margin: 0;
  padding: 1rem 2rem;
  font-size: 1em;
  /* 1.3em */
}
#Casa div{
  text-align: center;
}
