@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow: hidden;

}
html{
  height: 100%;
}
body{
  /* background: url(psBlueSky-vincent-gerbouin.jpg) no-repeat center center fixed; */
  background-image: url(psBlueSky-vincent-gerbouin.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* position: fixed; */
  height: 100%;
}
.container{
  background-color: #908070;
  font-size: 1.75em;
}
.navbar{
  display: flex;
  align-items: center;/* flex and center used if want to make nav height bigger while have it center */
  height: 1.2em; /* dependent on .container font-size */
}
#name{
  /* font-family: "Roboto Slab"; */
  float: left;
  padding-left: 0.75rem;
}
#coname {
  color: #F58F7C;
}
#lname{
  color: #99B3FF;
}
.menu-icon{
  width: 50px;
  display: none;
}
#menuList{
  overflow: hidden;
  transition: 0.5s;
}
nav{
  display: flex;
  justify-content: flex-end;
  /* height: 100%; */
  flex-grow: 1;/*flex:1*/
}
nav ul{
  display: flex;
}
nav ul li{
  display:flex;
}
nav ul li a{
  display: flex;
  align-items: center;
  font-size: 0.65em;
  padding: 1em;
  text-decoration: none;
  color: #707090;
}
nav ul li a:hover{
  background-color: #709090;
  color: #E2EFDE;
}
nav ul li a.active{
  background-color: #707090;
  color: white;
}
#quine{
  position: fixed;
  display: flex;
  height: 100%;
  line-height: 1.5;
  /* font-size: 2em; */
  font-size: clamp(1.5rem, 8vw - 2rem, 4.5rem);
  background: linear-gradient(225deg, black, transparent);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  /* make work vertical looks cool
  position: absolute;
  transform: translateX(-100%) rotate(90deg);
  transform-origin: right;
  left: 32%;
  top: -40%;
  white-space: pre;
  font-size: 1.2em;*/

}
.Outer_square{
  position: relative;
  margin: 0 auto;
  height: calc(100vh - 34px);
  /* border: 1px solid red; */
  /* background-color: #707090; */
}
.Casa{
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  width: 85%;
  height: 80%;
  padding: 1em;
  /* background-image: linear-gradient(to top right, #90c4db, #519cbb,#3e7594,#3b5e74); */
  background-color: #324A5F;
  border: clamp(0.3rem, 8vw - 8rem, 0.75rem) Honeydew solid;
  /* box-shadow:
    15px 15px 0 -4px #324A5F,
    15px 15px Honeydew; */
}
.Casa h1{
  color: Honeydew;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1rem, 8vw - 2rem, 5rem);
}
.Casa p{
  color: #CCC9DC;
  padding: 0.5em;
  font-family: 'Space Grotesk', sans-serif;
  font-size: clamp(1rem, 3vw - 1rem, 4.5rem);
}
#Motto{
  font-size: clamp(1rem, 3vw - 1rem, 3rem);
  text-align: center;
  color: Honeydew;
  padding-bottom: 1em;
}
#m2{
  display: none;
}

.web-analytics{
  display: flex;
  height: 35vh;
  justify-content: center;
  /* height: clamp(1rem, 44vw - 5.625rem, 3rem); */
  /* height: clamp(45ch, 60%, 55ch); */
  /* border: 5px blue solid; */
  /* flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  margin: 2em 0;
  border 1px red solid; */
}

.web-col{
  flex-grow: 1;
  font-size: 2em;
  text-align: center;
}
#middle_col{
  border-left: 5px #CCC9DC solid;
  border-right: 5px #CCC9DC solid;
  border-width: medium;
}
.website-counter{
  
}

@media only screen and (max-width:700px){
  nav ul{
    width: 100%;
    display: grid;
    /* background: linear-gradient( #908070, #ACC18A); */
    /* background: #908070; */
    background: #FAF4D3;
    position: absolute;
    top: 1.2em;
    right: 0;
    z-index: 2;
  }
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul li a{
    justify-content: center;
    color: #324A5F;
    font-size: 0.8em;
    padding: 0.1em;
  }
  nav ul li a:hover{
    background-color: #99B3FF;
    color: #E2EFDE;
  }
  nav ul li a.active{
    background-color: #F58F7C;
    color: white;
  }
  .menu-icon{
    display: block;
    padding-right: 0.75rem;
    filter: invert(75%) sepia(14%) saturate(4714%) hue-rotate(191deg) brightness(100%) contrast(105%);
    width: 1.4rem;
  }
  #menuList{
    overflow: hidden;
    transition: 0.5s;
  }
  .Casa{
    top: 47%;
  }
  .web-analytics{
    display: block;
    height: 35vh;
    /* height: clamp(1rem, 44vw - 5.625rem, 3rem); */
    /* height: clamp(45ch, 60%, 55ch); */
    border: 5px blue solid;
    /* flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    margin: 2em 0;
    border 1px red solid; */
  }


}
